<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.ipcdemo">

    <permission
        android:name="com.david.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />
    <uses-permission android:name="com.david.permission.ACCESS_BOOK_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".DavidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TwoActivity" />
        <activity android:name=".ThreeActivity" />
        <activity android:name=".SocketActivity"/>

        <service android:name=".service.TCPServerService"
            android:process=":socket_tcp_server"/>

        <service
            android:name=".service.ManagerService"
            android:process=":remote" />
        <service
            android:name=".service.AIDLManagerService"
            android:process=":aidl_mananger" />
    </application>

</manifest>
